body {
    background-color: #edae49;
    margin: 0px;
}
.navbar-wrapper {
    background-color: #1b9aaa;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.8rem;
}
.navbar-wrapper h1 {
    color: #04e73c;
    font-size: 2.5em;
    font-family: cursive;
}
.searchbar {
    border-radius: 15px;
    border: 0;
    background-color: #4db0e6;
    margin-top: 40px;
    margin-left: 40px;
    padding: 15px 15px;
    width: 25rem;
}
.card-container {
    padding: 40px 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.card {
    margin: 50px 25px;
    padding: 10px 10px;
    background-color: azure;
    height: 38rem;
    width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card .cardppf {
    border-radius: 50%;
    border: 0;
    height: 7rem;
    width: 7rem;
}
.card h2 {
    text-align: center;
    font-family: cursive;
}
.subheading {
    font-size: medium;
    font-family: cursive;
    text-align: center;
}
.subheading span {
    font-weight: bold;
    font-size: large;
}
.card .social {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.social img {
    height: 3rem;
    width: 3rem;
}
.button-group {
    display: flex;
    gap: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.button-group button {
    background-color: #70c1b3;
    color: #131200;
}
